*{
    padding: 0px;
    margin: 0px;
}


section{
    background-color: white;
    padding: 20px 25px 60px 25px;
    margin: 100px 200px;
    display: flex;
    justify-content: center;
    height: 500px;
}


div{
    margin: 20px 28px 0px 28px;
}

img{
    width: 450px;
    height: 500px;
    border-radius: 10px;
}

.imagen{
    margin-right: 100px;
}

.registro{
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    margin-left: 5px;
    text-align: center;
    padding: 0px auto;
}


/*--------- BOTON SIGN IN -----------*/

.sign{
    background-color: white;
    margin: 20px;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
}



/*--------- REDES -----------*/


.redes{
    display: flex;
    width: 300px;
    margin: 0px;

}

.google{
    width: 30px;
    height: 30px;
    margin: 5px 0 0 0;
}

.facebook{
    width: 30px;
    height: 30px;
    margin: 5px 0 0 0;
}

.apple{
    width: 30px;
    height: 30px;
    margin: 5px 0 0 0;
}

.facebookContenedor{
    border: 0.5px solid grey;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin: 0 auto;
}

.googleContenedor{
    border: 0.5px solid grey;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin: 0 auto;
}

.appleContenedor{
    border: 0.5px solid grey;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin: 0 auto;
}


/*--Or Continue with--*/

p{

    font-size: 13px;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
}


/*--Botones Mail y Mobile Number--*/


.EmailyMobile{
    display: flex;
    margin: 5px 0px 0px 20px;
    width: 1000px;
}




.Email{
    background-color: rgb(255, 102, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 88px;
    height: 38px;
    border-radius: 10px;
    border: 0.5px solid rgb(255, 102, 0);
    justify-content: center;
    position: absolute;
    left: 900px;
    top: 295px;
    
}


.buttonMobile{
    width: 100px;
    height: 38px;
    padding-top: 10px;

}

.mobileNumber{
    background-color: white;
    border: none;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px auto;
    position: absolute;
    top: 305px;
    right: 320px;
}

/*---Campos---*/

.emailA{
font-size: 15px;
text-align: left;
color: rgb(87, 85, 85);
margin: 0px;
position: relative;
right: 10px;
bottom: 20px;
}

.Password1{
    font-size: 15px;
    text-align: left;
    color: rgb(87, 85, 85);
    margin: 0px;
    position: relative;
    bottom: 40px;
    right: 10px;
    }

.input{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 3px 0px 3px 3px;
    position: relative;
    bottom: 35px;
    right: 11px;
    
}

.input2{
    width: 260px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid grey;
    padding: 3px 0px 3px 3px;
    margin-top: auto;
    margin-bottom: 20px;
    position: relative;
    bottom: 56px;
    right: 10px;
}



.Password2{
    font-size: 13px;
    text-align: left;
    color: rgb(87, 85, 85);
    position: relative;
    right: 9px;
    bottom: 92px;

    }

/*--- Boton Final ---*/




.signFinal{
    background-color: rgb(255, 102, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 180px;
    height: 38px;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 102, 0);
    position: relative;
    bottom: 90px;
}

.account{
    font-size: 13px;
    text-align: center;
    color: rgb(87, 85, 85);
    position: relative;
    bottom: 93px;
    }

    .registerNow{
        font-size: 13px;
        text-align: center;
        color: rgb(255, 102, 0);
        position: relative;
        bottom: 100px;
        text-decoration: underline;
        }
